div#container
	h1= title
	p Ingrese una palabra:
	
	section.syntacticSearch
		form
			input.word( type='text' )
			input.search( type='button', value='Buscar' )
	
		span.definition

script(src='/js/jquery-1.6.1.js')
script(src='/js/syntacticSearch.js')
script
	$('.syntacticSearch').syntacticSearch();
