div#container
	h1= title
	p Ingrese una palabra:
	
	section.syntacticSearch
		form
			input.word( type='text' )
			input.search( type='button', value='Buscar' )
	
		ul.definitions
	
	section#listas
		h2 Palabras clasificadas:
		div#sustantivos.lista
			h3 Sustantivos:
			ul
		div#verbos.lista
			h3 Verbos:
			ul
		div#adjetivos.lista
			h3 Adjetivos:
			ul
		div#articulos.lista
			h3 Artículos:
			ul
		div#adverbios.lista
			h3 Adverbios:
			ul
		div#preposiciones.lista
			h3 Preposiciones:
			ul
		div#conjunciones.lista
			h3 Conjunciones:
			ul
		div#indeterminadas.lista
			h3 Palabras no encontradas:
			ul

script(src='/js/jquery-1.6.1.js')
script(src='/js/syntacticSearch.js')
script
	$('.syntacticSearch').syntacticSearch();
