/* Estilos definidos anteriormente */
body {
  font: 13px Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p#file_text {
	display: inline-block;
	padding: 10px;
}

span.classified {
	text-decoration: underline;
	position: relative;
}

span.tooltip {
	display:none;
	position: absolute;
}
span:hover .tooltip{
	display:block;
	top:22px;
	left: 0px;
	background: #EEE;
	border: 1px solid #CCC;
	padding: 4px 5px 5px;
	width: 180px;
	margin: 0;
	z-index: 1;
	font-weight: normal;
}


/*IRV - Definición de estilos - 14/08/2011 */
body, footer {
	background: url("../images/bg.jpg");
}

#container {
	background: url("../images/bg_container.jpg") repeat-x;
	margin: auto;  
	width: 960px;  
	height: 700px;  
	padding: 30px;
}

h1 {
	font-size: 40px;
	background: #e3e3e3;
	background: -moz-linear-gradient(top, #e3e3e3, #c8c8c8);
	background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#c8c8c8));
	padding: 10px 20px;
	margin: 0 0 20px -20px;
	position: relative;
	left: -30px;
	width: 90%;

	-moz-box-shadow: 1px 1px 3px #292929;
	-webkit-box-shadow: 1px 1px 3px #292929;
	box-shadow: 1px 1px 3px #292929;

	color: #454545;
	text-shadow: 0 1px 0 white;
}

.arrow {  
	width: 0;
	height: 0;  
	line-height: 0;  
	border-left: 20px solid transparent;  
	border-top: 10px solid #c8c8c8;  
	top: 101%;  
	left: 0;  
	position: absolute;  
}

h2 {
	font-size: 1.25em;
	font-weight: 500;
	color: #666666;
	text-shadow: 0 1px 0 #ffffff;
}

#listas{
	margin: 30px 0 0 0;
}

.lista {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #aaaaaa;
	margin: 0px 20px;
	padding: 10px 5px;
	width: 200px;
}
