div#container

	h1= title
		span.arrow

	h2 Cargue un archivo de texto:
	input(type='file')
	section
		p#file_text
	
	section.syntacticSearch.clearfix
		h2 Ingrese una palabra:
		form
			input.word( type='text' )
			input.search( type='button', value='Buscar' )
		ul.definitions
	
	section.txtArea.clearfix
		h2 O copie un texto:
		textarea
		input( type='button', value='Analizar' )

	section#listas.tabs
		h2 Palabras clasificadas:
		ul
			li.tabIndex
				a( href='#tabs-1') Sustantivos
			li.tabIndex
				a( href='#tabs-2') Verbos
			li.tabIndex
				a( href='#tabs-3') Adjetivos
			li.tabIndex
				a( href='#tabs-4') Artículos
			li.tabIndex
				a( href='#tabs-5') Adverbios
			li.tabIndex
				a( href='#tabs-6') Preposiciones
			li.tabIndex
				a( href='#tabs-7') Conjunciones
			li.tabIndex
				a( href='#tabs-8') Pronombres
			li.tabIndex
				a( href='#tabs-9') No Encontradas
		div#tabs-1.sustantivos.lista
			ul
		div#tabs-2.verbos.lista
			ul
		div#tabs-3.adjetivos.lista
			ul
		div#tabs-4.articulos.lista
			ul
		div#tabs-5.adverbios.lista
			ul
		div#tabs-6.preposiciones.lista
			ul
		div#tabs-7.conjunciones.lista
			ul
		div#tabs-8.pronombres.lista
			ul
		div#tabs-9.indeterminadas.lista
			ul
