div#container
	h1= title
		span.arrow
	ul.definitions
		for word in words
			li
				span=word
				label Función Sintáctica
				select.chosen
					option(value='') -- seleccione --
					for v in functions	
						option(value=v)=v
				label Peso
				input.weight(type='range', name='weight[]', min='1', max='100', step='1', value='50')
				input.add_new_word(type='button', value='Guardar')
