div#container
	h1= title
		span.arrow
	ul.definitions
	-each word in words
		li=word
script(src='/js/jquery-1.6.1.js')
script(src='/js/css.js')
script(src='/js/syntacticSearch.js')
script(src='/js/scripts.js')
